.footer {
  overflow: hidden;
  margin-top: 0;
  padding: 30px 0;
  color: #fff;
  background-color: #333;
}
.footer .footer__left {
  float: left;
  width: 300px;
}
.footer__logo {
  line-height: 13px;
  display: inline-block;
}
.footer__contacts {
  position: relative;
  float: right;
  width: 300px;
  text-align: right;
}
.footer__center {
  float: left;
  width: 380px;
  vertical-align: top;
}
.footer__phone {
  font-size: 26px;
  margin-bottom: 5px;
  text-decoration: none;
  color: #fff;
}
.footer__copy {
  font-size: 12px;
  text-align: center;
  color: #eee;
}
.footer__link {
  text-decoration: none;
  color: #f26000;
}
.footer__link:hover {
  color: #f260ee;
}
.logo {
  padding: 20px;
  background-color: #333;
}
.logo__link {
  text-decoration: none;
}
.logo__img {
  width: 150px;
}
.page {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 17px;
  min-width: 600px;
  margin: 0;
  padding: 0;
  background-color: #eee;
}
.page__wrapper {
  max-width: 680px;
  margin: 0 auto;
}
a {
  color: #f26000;
}
